<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="covtestingg.Properties.Settings.girisConnectionString"
            connectionString="Data Source=LAPTOP-R67MISN0\SQLEXPRESS;Initial Catalog=giris;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="covtestingg.Properties.Settings.usersConnectionString"
            connectionString="Data Source=LAPTOP-R67MISN0\SQLEXPRESS;Initial Catalog=users;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>